# Переименуйте в .env и укажите свой токен
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
PORT=3000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.jzpu5gh.mongodb.net/<dbname>?retryWrites=true&w=majority
